.columns > div {
    display: flex;
    flex-direction: column;
}

.columns > div > div :is(h1, h2, p) {
    margin-left: 32px;
    margin-right: 32px;
}

.columns .columns-image {
    position: relative;
    display: block;
    min-height: 400px;
}

.columns .columns-image picture {
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.columns .columns-image img {
    display: block;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 900px) {
    .columns > div {
        display: flex;
        align-items: stretch;
        flex-direction: unset;
        align-items: center;
    }

    .columns > div > div {
        flex: 1;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }
}