.orderbytext {

  .order-by-text-wizard {

    // Effect Styles Start Here

    %label-movement {
      // Move up, colorize and shrink
      font-size: 0.75em;
      color: gray;
      top: -2.5rem;
      transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
    }

    .styled-input {
      float: right;
      width: 33.3333%;
      margin: 2rem 0 1rem;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;

      label {
        color: #999;
        padding: 1rem;
        position: absolute;
        top: 0;
        left: 16px;
        transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
        pointer-events: none;
      }
    }

    input,
    textarea {
      width: 90%;
      padding: 1rem 1rem;
      border: 0;
      font-size: 1rem;
      background-color: white;
      margin-bottom: 0;


      &:focus {
        // Trigger the effects
        outline: 2;

        ~label {
          // Move Label
          @extend %label-movement;
        }


      }

      &:valid~label

      /*, &.not-empty ~ label*/
        {
        // Keep label above field after its filled out
        @extend %label-movement;
      }
    }

    textarea {
      // Mods needed for multiline inputs
      width: calc(90% - 2rem);
      min-height: 15em;
      margin: 0;
    }
  }
}