.orderbytext h2 {
  margin-top: 10px;
}
.orderbytext .order-by-text-wizard input:valid ~ label,
.orderbytext .order-by-text-wizard textarea:valid ~ label, .orderbytext .order-by-text-wizard input:focus ~ label,
.orderbytext .order-by-text-wizard textarea:focus ~ label {
  font-size: 0.75em;
  color: gray;
  top: -2.5rem;
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}
.orderbytext .order-by-text-wizard .styled-input {
  float: right;
  width: 33.3333%;
  margin: 1rem 0 1rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.orderbytext .order-by-text-wizard .styled-input label {
  color: #999;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 16px;
  transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
  pointer-events: none;
}
.orderbytext .order-by-text-wizard input,
.orderbytext .order-by-text-wizard textarea {
  width: 90%;
  padding: 1rem 1rem;
  border: 0;
  font-size: 1rem;
  background-color: white;
  margin-bottom: 0;
}
.orderbytext .order-by-text-wizard input:focus,
.orderbytext .order-by-text-wizard textarea:focus {
  outline: 2;
}
.orderbytext .order-by-text-wizard textarea {
  width: calc(90% - 2rem);
  min-height: 7em;
  margin: 0;
}