.orderbytext .order-by-text-wizard footer {
  padding: 2rem;
  color: var(--light-tan);
  background-color: var(--dark-blue);
  font-size: var(--body-font-size-s);
}
.orderbytext .order-by-text-wizard footer .footer {
  max-width: 1200px;
  margin: auto;
}
.orderbytext .order-by-text-wizard footer .footer p {
  margin: 0;
}